*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(46, 48, 48);
    color:whitesmoke;
}
.container{
    
    margin:10rem;
}
div{
    text-align: center;
}
.location {
    padding-top:2rem;
    padding-bottom: 1rem;
}
.temp {
    font-size: 4rem;
    padding-bottom: 1rem;
    text-shadow: 3px 3px #050505;
}
.highLow {
    padding-top:0.5rem;

}
